<template name="post">
	<div class="container-fluid">
		<div class="row">
			<div id="post" class="col-md-12">
				<img class="inline img-circle" src="{{currentUser.services.twitter.profile_image_url}}">
				<div id="user-info" class="inline middle">{{currentUser.profile.name}}'s last post</div>
				<!-- <h2 class="white">Last post</h2> -->
				<!-- {{lastPostUrl}} -->
				<div id="instagram_container"></div>
				<div id="soundcloud_container"></div>
				<div id="twitter_container"></div>
				<div id="youtube_container"></div>
			</div>
		</div>
	</div>
</template>